@font-face {
	font-family: 'MaisonNeueBook';
	src: url('/assets/fonts/maisonneuebook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MaisonNeueBold';
	src: url('/assets/fonts/maisonneuebold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}