---
pagination:
  data: projects
  size: 1
  alias: project
layout: layouts/default.html
permalink: work/{{ project.href | slug }}/
---

<main class="detail-page">
  <section class="intro">
    <h1>{{ project.titleDetail }}</h1>
    <p>{{ project.description | newline_to_br }}</p>
    <br/>
    <p>{{ project.technologies }}</p>
    {% if project.awards %}
      <br/>
      <p>
        {% for award in project.awards %}
          <a href="{{ award.link }}" target="_blank">{{ award.name }}</a>
          {% if forloop.last == false %}
            <br/>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    {% if project.link %}
      <br/>
      <p><a href="{{ project.link }}" target="_blank">View Website</a></p>
    {% endif %}
    {% if project.source %}
      <br/>
      <p><a href="{{ project.source }}" target="_blank">Source Code</a></p>
    {% endif %}
  </section>
  <section class="project-images">
    <ul class="image-container">
      {% for asset in project.detailAssets %}
        <li class="{{ asset.width }}">
        {% if asset.type == 'image' %}
          <img src="/assets/img/{{ asset.src }}">
        {% else if asset.type == 'video' %}
          <video src="/assets/video/{{ asset.src }}" muted autoplay loop></video>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
</main>