$maison-neue-book: MaisonNeueBook, Helvetica, Arial, sans-serif;
$maison-neue-bold: MaisonNeueBold, Helvetica, Arial, sans-serif;

$white: #FFFFFF;
$black: #000000;

$divider-thickness: 0.25em;
$break-small: 40em;