---
layout: default
---

<main class="detail-page">
    <section class="intro">
      	<h1>{{ page.titleDetail }}</h1>
      	<p>{{ page.description }}</p>
        <br/>
      	<p>{{ page.type }}</p>
        <br/>
      	<p>{{ page.technologies }}</p>
    </section>
    <section class="project-images">
      	<ul class="image-container">
      		{% for image in page.detailImages %}
			     <li class="{{ image.imageWidth }}">
				    <img src="/assets/img/{{ image.src }}">
			     </li>
      		{% endfor %}
      	</ul>
    </section>
</main>